In [1]:
import pandas as pd
import json

In [2]:
with open("2-input.json","r") as read_it:
    data = json.load(read_it)

In [3]:
data

{'expenseData': [{'amount': 50, 'startDate': '2021-01-01T00:00:00.000Z'},
  {'amount': 20, 'startDate': '2021-02-01T00:00:00.000Z'},
  {'amount': 30, 'startDate': '2021-03-01T00:00:00.000Z'}],
 'revenueData': [{'amount': 60, 'startDate': '2021-02-01T00:00:00.000Z'}]}

In [4]:
expense = pd.DataFrame.from_dict(data['expenseData'])
revenue = pd.DataFrame.from_dict(data['revenueData'])

In [5]:
result = pd.merge(revenue,expense,how='outer',on="startDate")

In [6]:
result.fillna(0,inplace=True)

In [7]:
result

   amount_x                 startDate  amount_y
0      60.0  2021-02-01T00:00:00.000Z        20
1       0.0  2021-01-01T00:00:00.000Z        50
2       0.0  2021-03-01T00:00:00.000Z        30

In [8]:
result["amount"] = result["amount_x"]-result["amount_y"]

In [9]:
result

   amount_x                 startDate  amount_y  amount
0      60.0  2021-02-01T00:00:00.000Z        20    40.0
1       0.0  2021-01-01T00:00:00.000Z        50   -50.0
2       0.0  2021-03-01T00:00:00.000Z        30   -30.0

In [10]:
result = result.groupby("startDate").sum()

In [11]:
result

                          amount_x  amount_y  amount
startDate
2021-01-01T00:00:00.000Z       0.0        50   -50.0
2021-02-01T00:00:00.000Z      60.0        20    40.0
2021-03-01T00:00:00.000Z       0.0        30   -30.0

In [12]:
result = result.drop(["amount_x","amount_y"],axis = 1)

In [13]:
result

                          amount
startDate
2021-01-01T00:00:00.000Z   -50.0
2021-02-01T00:00:00.000Z    40.0
2021-03-01T00:00:00.000Z   -30.0

In [14]:
result.reset_index(inplace=True)

In [15]:
result.to_json(r'answer2.json',orient='records')