In [82]:
import pandas as pd
import json

In [83]:
with open("1-input.json","r") as read_it:
    data = json.load(read_it)

In [84]:
data

{'expenseData': [{'amount': 20, 'startDate': '2020-05-01T00:00:00.000Z'},
  {'amount': 30, 'startDate': '2020-03-01T00:00:00.000Z'}],
 'revenueData': [{'amount': 60, 'startDate': '2020-03-01T00:00:00.000Z'},
  {'amount': 0, 'startDate': '2020-02-01T00:00:00.000Z'},
  {'amount': 10, 'startDate': '2020-03-01T00:00:00.000Z'},
  {'amount': 40, 'startDate': '2020-01-01T00:00:00.000Z'}]}

In [85]:
expense = pd.DataFrame.from_dict(data['expenseData'])
revenue = pd.DataFrame.from_dict(data['revenueData'])

In [104]:
result = pd.merge(revenue,expense,how='outer',on="startDate")

In [105]:
result.fillna(0,inplace=True)

In [88]:
result

   amount_x                 startDate  amount_y
0      60.0  2020-03-01T00:00:00.000Z      30.0
1      10.0  2020-03-01T00:00:00.000Z      30.0
2       0.0  2020-02-01T00:00:00.000Z       0.0
3      40.0  2020-01-01T00:00:00.000Z       0.0
4       0.0  2020-05-01T00:00:00.000Z      20.0

In [106]:
result["amount"] = result["amount_x"]-result["amount_y"]

In [107]:
result

   amount_x                 startDate  amount_y  amount
0      60.0  2020-03-01T00:00:00.000Z      30.0    30.0
1      10.0  2020-03-01T00:00:00.000Z      30.0   -20.0
2       0.0  2020-02-01T00:00:00.000Z       0.0     0.0
3      40.0  2020-01-01T00:00:00.000Z       0.0    40.0
4       0.0  2020-05-01T00:00:00.000Z      20.0   -20.0

In [109]:
result = result.groupby("startDate").sum()

In [110]:
result

                          amount_x  amount_y  amount
startDate
2020-01-01T00:00:00.000Z      40.0       0.0    40.0
2020-02-01T00:00:00.000Z       0.0       0.0     0.0
2020-03-01T00:00:00.000Z      70.0      60.0    10.0
2020-05-01T00:00:00.000Z       0.0      20.0   -20.0

In [111]:
result = result.drop(["amount_x","amount_y"],axis = 1)

In [112]:
result

                          amount
startDate
2020-01-01T00:00:00.000Z    40.0
2020-02-01T00:00:00.000Z     0.0
2020-03-01T00:00:00.000Z    10.0
2020-05-01T00:00:00.000Z   -20.0

In [113]:
result.reset_index(inplace=True)

In [123]:
result.to_json(r'answer1.json',orient='records')